.video_item {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;

  img {
    width: 168px;
    height: 94px;
  }

  h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.thumbnails_image {
  width: 100%;
}

.video_info {
  h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  span:last-child:before {
    margin: 0 4px;
    content: "•";
  }
}